* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

header {
    background-color: royalblue;
    height: 150px;
    position: relative;
}

nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

#menu_cart {
    margin-left: 1400px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

li {
    background-color: violet;
}

.dropdown-cart {
    background-color: lime;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

