td, th {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#courses-header1 {
    text-align: center;
}

#courses-text1 {
    padding: 10px;
}

#kurs-table {
    display: none;
}

#kurs-article {
    padding: 10px;
}

.kursheaders {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .kursheaders {
        text-align: left;
    }
}

@media only screen and (min-width: 1200px) {

}