body {
    background-color: aliceblue;
}


td, th {
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    background-color: ivory;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#courses-header1 {
    text-align: center;
}

#courses-text1 {
    padding: 10px;
}

#table-cap {
    display: none;
}

#kurs-article {
    padding: 10px;
    background-color: aliceblue;
}

.kursheaders {
    text-align: left;
}

@media only screen and (min-width: 768px) {
    .kursheaders {
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {

}