ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}
.middle-nav ul {
    list-style: none;
    background-color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}

.middle-nav li {
    display: inline-block;
}

li {
    text-align: center;
    border-right: 1px solid white;
}

li a {
    display: block;
    color: white;
    padding: 16px 18px;
    text-align: center;
}

li a:hover {
    background-color: gray;
}

.active {
    background-color: darkblue;
}
