a{
    color: white;
}

nav {
    background-color: gray;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: gray;
}

.header ul a {
    display: block;
    padding: 20px;
    border-right: 1px solid gray;
    text-decoration: none;
}

.header ul a:hover {
    background-color: darkgray;
}

.header .logo {
    float: left;
    display: block;
    font-size: 2em;
    padding: 10px 20px;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
    border: 1px red solid;
}

.header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition:all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition:all .2s ease-out;
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 290px;
}

