body {
    background-color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

#prod-rubrik {
    text-align: center;
    padding: 10px;
}

#xboxhead {
    text-align: center;
}

#xbox-text {
    padding: 10px;
    border: 3px solid gray;
    background-color: ivory;
}

#playstationhead {
    text-align: center;
}

#playstation-text {
    padding: 10px;
    border: 3px solid gray;
    background-color: ivory;
}

@media only screen and (min-width: 768px) {

    .wrapper {
        display: flex;
        flex-direction: row;
    }
    .wrapper1 {
        display: flex;
        flex-direction: row-reverse;
    }

    #xboxhead {
        text-align: center;
        margin-right: 300px;
    }

    #xbox-text {
        width: 60%;
        margin-left: 60px;
    }

    #playstationhead {
        text-align: center;
        margin-left: 300px;
    }

    #playstation-text {
        width: 60%;
        margin-right: 60px;
    }
}


