body{
    margin: 0;
    background-color: white;
}

#about-header {
    text-align: center;
}

p {
    text-align: left;
    padding: 10px;
}

#first-text {
    text-align: center;
}

#list-header {
    padding: 10px;
    text-align: center;
}

#prod-header {
    text-align: center;
}

.aktiviteter {
    padding: 30px;
}

.webb1head {
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td th {
    Border: 1px solid black;
    text-align: left;
    padding: 10px;
}
#tablemedkurs {
    display: none;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 6px;
}

.kursheaders {
    margin: 10px;
}